.page {
    font-family: 'Montserrat', sans-serif;
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
    background: rgba(0, 0, 0, 0.0001);
}



.menu {
    padding-top: 25.5px;
    padding-left: 0px;
    margin-top: 0px;
    margin-left: 330px;
    margin-bottom: 0px;
    margin-right: 330px;
    width: 620px;
}

.menu-item {
    display: inline-block;
}

.menu-link {
    color: #FF0000;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    text-transform: uppercase;
    margin-left: 72px;
}

.menu-link-download{
    color: #FF0000;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    text-transform: uppercase;
    margin-left: 50px;
}

.menu-link-active {
    color: #FF0000;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    text-transform: uppercase;
    margin-left: 0px; 
}









.main-img {
    width: 1280px;
    margin-top: 25.5px;
}

.content-title {
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    width: 774px;
    margin-top:  49px;
    margin-right: 253px;
    margin-bottom: 0px;
    margin-left: 253px;
}


.conteiner {
    max-width: 1145px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2.4px;
    color: #373737;
    margin-left: 67.5px;
    margin-right: 67.5px;
}

.content-text-first {
    margin-top: 38px;
    margin-bottom: 0px;
}

.content-text-second {
    margin-top: 28px;
    margin-bottom: 0px;
}


.button{
    background: #FF0000;
    border-radius: 4px;
    width: 191px;
    height: 51px;
    margin-top: 66px;
    margin-left: 544px;
    margin-right: 544px;
}

.button-text {
    color: #FFFFFF;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
}




.footer{
    color: #373737;
    text-align: end;
    width: 462px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    margin-top: 82px;
    margin-right: 105px;
    margin-left: 713px;
    padding-bottom: 29px;
}

/*
.ex {
    background: #E5E5E5;
}
/* 